.head h1{
  font-size: xx-large;
}

.carousel-wrapper {
  position: relative;
  padding: 20px 50px;
}

.carousel {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  min-width: 180px;
  text-align: center;
}

.circle {
  width: 160px;
  height: 160px;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle img {
  width: 120px;
  height: auto;
}

.carousel-item p {
  font-size: 14px;
  font-weight: 500;
}

/* Navigation Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}


.popular-wrapper {
  position: relative;
  padding: 30px 50px;
}

.popular-wrapper h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

.products-row {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.products-row::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-width: 260px;
  background: #f7f7f7;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.product-card img {
  width: 100%;
  height: auto;
  margin: 15px 0;
}

.product-card p {
  font-size: 16px;
  font-weight: 500;
}

/* Price tag */
.price-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #6fd1ff;
  color: #000;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}
